:root {

    --md-default-fg-color:               hsla(0, 0%, 0%, 0.87);
    --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
    --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.26);
    --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
    --md-default-bg-color:               hsla(0, 0%, 100%, 1);
    --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
    --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
    --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
  
    --md-primary-fg-color:               hsla(282, 65%, 19%, 1);
    --md-primary-fg-color--light:        hsla(282, 65%, 19%, 1);
    --md-primary-fg-color--dark:         hsla(282, 65%, 19%, 1);
    --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  
    --md-accent-fg-color:                hsla(343, 55%, 37%, 1);
    --md-accent-fg-color--transparent:   hsla(343, 55%, 37%, 0.1);
    --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
  
    --md-code-bg-color:                  hsla(0, 0%, 92.5%, 0.5);
    --md-code-fg-color:                  hsla(200, 18%, 26%, 1);
  }