.home-nav-column {
  float: left;
  width: 23%;
  padding: 0 10px;
  border-top: 5px solid hsla(282,65%,19%,1);
  margin: 5px 5px;
}

.home-nav-row {
margin: 0 -5px;
}

.home-nav-row:after {
content: "";
display: table;
clear: both;
}

.divider {
  border-top: 3px solid hsla(282,65%,19%,1);
  padding-bottom: 0px;
}

.home-nav-icons {
  vertical-align: middle;
  height: 50px;
  width: 50px;
  margin-right: 0px;
}

.md-header, .md-tabs {
  background-color: hsla(282,65%,19%,1);
}
